<%- include('/home') %>

<table id="list">
    <thead>
        <tr>
            <th>Title</th>
            <th>Buy<br>Listen</th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(function(b) { %>
            <tr>
                <td><%= b.title %></td>
                <td><a href="/books/<%= b._id %>">Details</a></td>
                <td><%= b.buy %></td>
                <td><%= b.listen %></td>
            </tr>
        <% }) %>
    </tbody>
</table>