<%- include('../partials/header') %>

<h2>Book List</h2>
        <table id="list">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Buy</th>
                    <th>Listen</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) { %>
                    <tr>
                        <td><%= b.title %></td>
                        <td><a href="/books/<%= b._id %>">Details</a></td>
                        <td><a href="<%= b.buy %>">Amazon</a></td>
                        <td><a href="<%= b.listen %>">Spotify</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>