<%- include('../partials/header') %>

<h2>Book List</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Buy</th>
                    <th>Listen</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) { %>
                    <tr id="list">
                        <td><%= b.title %></td>
                        <td><a href="<%= b.buy %>"><button class="amazon">Amazon</button></a></td>
                        <td><a href="<%= b.listen %>"><button class="spotify">Spotify</button></a></td>
                    </tr>
                    <tr>
                        <td><a class="details" href="/books/<%= b._id %>">Details</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>