<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div>
        <%= book.title %>
    </div>
    <div>Author: </div>
    <div>
        <%= book.author %>
    </div>
    <div>Synopsis: </div>
    <div>
        <%= book.synopsis %>
    </div>
    <div>
        <%= book.reviews %>
    </div>
</section>